[template]
SAMPLE=6

[shell]
PYTHON3=/annoroad/data1/software/install/Miniconda/Miniconda3-4.10.3-py3.9.5/envs/py3/bin/python3
PYTHON=python
product=1
PANDOC=/annoroad/data1/software/install/Miniconda/Miniconda3-4.10.3-py3.9.5/envs/py3/bin/pandoc
MD_CCS=/usr/local/wkhtmltopdf/markdown.css
PDFLATEX=/annoroad/data1/software/install/TexLive/texlive2021-20210325/bin/x86_64-linux/pdflatex
